In [1]:
import pandas as pd

In [13]:
data1_df = pd.read_csv("LA2020DF.csv")
data2_df = pd.read_csv("RA2020DF.csv")
data3_df = pd.read_csv("NY2020DF.csv")

In [3]:
data1_df.head()

,Unnamed: 0,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,0,Azusa,1/4/2020,25.0,ug/m3 SC,23.0,34.1365,-117.92391,43.9,ppb,41.0,0.026,ppm,24.0,NaN,NaN,NaN,0.7,ppm,8.0
1,1,Azusa,1/10/2020,20.0,ug/m3 SC,19.0,34.1365,-117.92391,28.7,ppb,26.0,0.024,ppm,22.0,NaN,NaN,NaN,0.4,ppm,5.0
2,2,Azusa,1/16/2020,32.0,ug/m3 SC,30.0,34.1365,-117.92391,35.5,ppb,33.0,0.038,ppm,35.0,NaN,NaN,NaN,0.6,ppm,7.0
3,3,Azusa,1/22/2020,21.0,ug/m3 SC,19.0,34.1365,-117.92391,23.4,ppb,22.0,0.027,ppm,25.0,NaN,NaN,NaN,0.3,ppm,3.0
4,4,Azusa,1/28/2020,23.0,ug/m3 SC,21.0,34.1365,-117.92391,34.3,ppb,32.0,0.028,ppm,26.0,NaN,NaN,NaN,0.4,ppm,5.0

In [6]:
new_data1_df = data1_df.loc[:,["Site Name","Date","NO2 AQI","Ozone AQI","SO2 AQI","CO AQI"]]
print(new_data1_df.shape)

new_data1_df.isnull().sum()

(7782, 6)

Site Name       0
Date            0
NO2 AQI       511
Ozone AQI     933
SO2 AQI      6389
CO AQI       1200
dtype: int64

In [10]:
clean_data1_df = new_data1_df.dropna()
print(clean_data1_df.isnull().sum())
clean_data1_df.shape

Site Name    0
Date         0
NO2 AQI      0
Ozone AQI    0
SO2 AQI      0
CO AQI       0
dtype: int64

(1341, 6)

In [14]:
new_data2_df = data2_df.loc[:,["Site Name","Date","NO2 AQI","Ozone AQI","SO2 AQI","CO AQI"]]
print(new_data2_df.shape)

print(new_data2_df.isnull().sum())

clean_data2_df = new_data2_df.dropna()
print(clean_data2_df.isnull().sum())
clean_data2_df.shape

(1312, 6)
Site Name      0
Date           0
NO2 AQI      326
Ozone AQI    367
SO2 AQI      669
CO AQI       251
dtype: int64
Site Name    0
Date         0
NO2 AQI      0
Ozone AQI    0
SO2 AQI      0
CO AQI       0
dtype: int64

(602, 6)

In [16]:
new_data3_df = data3_df.loc[:,["Site Name","Date","NO2 AQI","Ozone AQI","SO2 AQI","CO AQI"]]
print(new_data3_df.shape)

print(new_data3_df.isnull().sum())

clean_data3_df = new_data3_df.dropna()
print(clean_data3_df.isnull().sum())
clean_data3_df.shape

(9605, 6)
Site Name       0
Date            0
NO2 AQI      5672
Ozone AQI    2267
SO2 AQI      5025
CO AQI       6596
dtype: int64
Site Name    0
Date         0
NO2 AQI      0
Ozone AQI    0
SO2 AQI      0
CO AQI       0
dtype: int64

(1030, 6)

In [18]:
# Los Angeles
clean_data1_df.head()

clean_data1_df["Site Name"].value_counts()

Los Angeles-North Main Street    985
LAX Hastings                     356
Name: Site Name, dtype: int64

In [19]:
# Raleigh
clean_data2_df["Site Name"].value_counts()

Millbrook School    602
Name: Site Name, dtype: int64

In [20]:
# New York
clean_data3_df["Site Name"].value_counts()

Newark Firehouse    362
PFIZER LAB SITE     350
QUEENS COLLEGE 2    318
Name: Site Name, dtype: int64

In [22]:
combined_df = pd.concat([clean_data1_df, clean_data2_df, clean_data3_df])
combined_df.shape

(2973, 6)

In [23]:
combined_df.to_csv("2020_pollutants.csv", index=False)