In [4]:
import pandas as pd
import io
from io import StringIO

READ THE CSV AND PERFORM BASIC DATA CLEANING

In [5]:
df_01 = pd.read_csv("NY2016DF.csv")
#print(df_01.count())
#print(df_01)
#drop the null rows
#df_01 = df_01.dropna()
#print(df_01.count())
print(df_01['Site Name'].unique())

['Newark Firehouse' 'Jersey City Firehouse' 'Fort Lee Near Road'
 'East Orange' 'Bayonne' 'Jersey City' 'Rutgers University' 'Chester'
 'Elizabeth Lab' 'IS 52' 'PFIZER LAB SITE' 'QUEENS COLLEGE 2' 'Leonia'
 'Flemington' 'Monmouth University' 'Colliers Mills' 'Ramapo' 'MILLBROOK'
 'CCNY' 'VALLEY CENTRAL HIGH SCHOOL' 'MT NINHAM' 'SUSAN WAGNER HS'
 'Rockland County' 'BABYLON' 'RIVERHEAD' 'HOLTSVILLE' 'WHITE PLAINS'
 'Elizabeth' 'EISENHOWER PARK']

In [6]:
#print(df_01.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test_df=df_01.iloc[:,1:]
test_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Newark Firehouse,1/1/2016,3.0,ug/m3 SC,3.0,40.720989,-74.192892,15.0,ppb,14.0,0.027,ppm,25.0,0.6,ppb,0.0,0.2,ppm,2.0
1,Newark Firehouse,1/4/2016,4.0,ug/m3 SC,4.0,40.720989,-74.192892,20.0,ppb,19.0,0.030,ppm,28.0,0.4,ppb,0.0,0.4,ppm,5.0
2,Newark Firehouse,1/7/2016,45.0,ug/m3 SC,42.0,40.720989,-74.192892,70.0,ppb,68.0,0.003,ppm,3.0,5.5,ppb,7.0,1.2,ppm,14.0
3,Newark Firehouse,1/10/2016,12.0,ug/m3 SC,11.0,40.720989,-74.192892,27.0,ppb,25.0,0.028,ppm,26.0,0.5,ppb,0.0,0.4,ppm,5.0
4,Newark Firehouse,1/13/2016,10.0,ug/m3 SC,9.0,40.720989,-74.192892,19.0,ppb,18.0,0.028,ppm,26.0,2.5,ppb,3.0,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,Elizabeth,5/9/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,ppm,7.0
9238,Elizabeth,5/10/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,ppm,6.0
9239,CCNY,11/4/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,ppm,2.0
9240,CCNY,12/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9241,QUEENS COLLEGE 2,11/2/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,ppm,7.0

In [9]:
df_02 = pd.read_csv("NY2018DF.csv")
#print(df_02.count())
#drop the null rows
#df_02 = df_02.dropna()
#print(df_02['Site Name'].unique())

In [10]:
#print(df_02.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test2_df=df_02.iloc[:,1:]
test2_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Newark Firehouse,1/2/2018,16.0,ug/m3 SC,15.0,40.720989,-74.192892,29.0,ppb,27.0,0.025,ppm,23.0,1.4,ppb,1.0,0.3,ppm,3.0
1,Newark Firehouse,1/5/2018,6.0,ug/m3 SC,6.0,40.720989,-74.192892,10.0,ppb,9.0,0.033,ppm,31.0,0.5,ppb,0.0,0.2,ppm,2.0
2,Newark Firehouse,1/8/2018,26.0,ug/m3 SC,24.0,40.720989,-74.192892,36.0,ppb,34.0,0.013,ppm,12.0,3.3,ppb,4.0,0.4,ppm,5.0
3,Newark Firehouse,1/11/2018,40.0,ug/m3 SC,37.0,40.720989,-74.192892,77.0,ppb,76.0,0.001,ppm,1.0,4.9,ppb,6.0,1.6,ppm,18.0
4,Newark Firehouse,1/17/2018,16.0,ug/m3 SC,15.0,40.720989,-74.192892,34.0,ppb,32.0,0.019,ppm,18.0,0.7,ppb,0.0,1.0,ppm,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,Queens College Near Road,10/11/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
9740,Queens College Near Road,11/2/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9741,Queens College Near Road,11/16/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
9742,Queens College Near Road,12/20/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,ppm,17.0
9743,Queens College Near Road,12/28/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,ppm,10.0

In [11]:
df_03 = pd.read_csv("NY2020DF.csv")
#print(df_01.count())
#drop the null rows
#df_03 = df_03.dropna()
print(df_03['Site Name'].unique())

['Newark Firehouse' 'Jersey City Firehouse' 'IS 52' 'DIVISION STREET'
 'QUEENS COLLEGE 2' 'Fort Lee Near Road' 'Bayonne' 'Jersey City'
 'Rutgers University' 'Chester' 'Elizabeth Lab' 'PFIZER LAB SITE'
 'Queens College Near Road' 'Leonia' 'Flemington' 'Monmouth University'
 'Colliers Mills' 'Ramapo' 'MILLBROOK' 'CCNY' 'VALLEY CENTRAL HIGH SCHOOL'
 'MT NINHAM' 'FRESHKILLS WEST' 'Rockland County' 'BABYLON' 'RIVERHEAD'
 'HOLTSVILLE' 'WHITE PLAINS' 'Elizabeth' 'EISENHOWER PARK']

In [12]:
#print(df_03.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test3_df=df_03.iloc[:,1:]
test3_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Newark Firehouse,1/1/2020,4.0,ug/m3 SC,4.0,40.720989,-74.192892,35.5,ppb,33.0,0.026,ppm,24.0,0.4,ppb,0.0,0.3,ppm,3.0
1,Newark Firehouse,1/4/2020,12.0,ug/m3 SC,11.0,40.720989,-74.192892,27.4,ppb,25.0,0.027,ppm,25.0,0.6,ppb,0.0,0.7,ppm,8.0
2,Newark Firehouse,1/7/2020,18.0,ug/m3 SC,17.0,40.720989,-74.192892,40.0,ppb,38.0,0.011,ppm,10.0,0.8,ppb,0.0,0.5,ppm,6.0
3,Newark Firehouse,1/10/2020,14.0,ug/m3 SC,13.0,40.720989,-74.192892,33.0,ppb,31.0,0.018,ppm,17.0,0.5,ppb,0.0,0.4,ppm,5.0
4,Newark Firehouse,1/13/2020,25.0,ug/m3 SC,23.0,40.720989,-74.192892,36.1,ppb,34.0,0.002,ppm,2.0,0.5,ppb,0.0,0.9,ppm,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9600,Queens College Near Road,11/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
9601,Queens College Near Road,12/18/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
9602,Queens College Near Road,12/23/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9603,Queens College Near Road,12/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9604,Queens College Near Road,12/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0

In [13]:
AllData=pd.DataFrame()
AllData=AllData.append(test_df)

In [14]:
AllData=AllData.append(test2_df)

In [15]:
AllData=AllData.append(test3_df)

In [16]:
AllData.to_csv("NYMerged.csv")

In [17]:
AllData

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Newark Firehouse,1/1/2016,3.0,ug/m3 SC,3.0,40.720989,-74.192892,15.0,ppb,14.0,0.027,ppm,25.0,0.6,ppb,0.0,0.2,ppm,2.0
1,Newark Firehouse,1/4/2016,4.0,ug/m3 SC,4.0,40.720989,-74.192892,20.0,ppb,19.0,0.030,ppm,28.0,0.4,ppb,0.0,0.4,ppm,5.0
2,Newark Firehouse,1/7/2016,45.0,ug/m3 SC,42.0,40.720989,-74.192892,70.0,ppb,68.0,0.003,ppm,3.0,5.5,ppb,7.0,1.2,ppm,14.0
3,Newark Firehouse,1/10/2016,12.0,ug/m3 SC,11.0,40.720989,-74.192892,27.0,ppb,25.0,0.028,ppm,26.0,0.5,ppb,0.0,0.4,ppm,5.0
4,Newark Firehouse,1/13/2016,10.0,ug/m3 SC,9.0,40.720989,-74.192892,19.0,ppb,18.0,0.028,ppm,26.0,2.5,ppb,3.0,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9600,Queens College Near Road,11/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
9601,Queens College Near Road,12/18/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
9602,Queens College Near Road,12/23/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9603,Queens College Near Road,12/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9604,Queens College Near Road,12/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0