In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load 
Raleigh_CO_2020 = "CO-CarbonMonoxide/2020-Raleigh-CO.csv"
Raleigh_NO_2020 = "NitrogenDioxide/2020-Raleigh-NO2.csv"
Raleigh_O_2020 = "Ozone/2020-Raleigh-Ozone.csv"
#no lead for Raleigh
Raleigh_PM_2020 = "PM-ParticulateMatter/2020-Raleigh-PM10.csv"
Raleigh_SO_2020 = "SulfurDioxide/2020-Raleigh-SO2.csv"

#Read files into Pandas dataframe

df_2020_CO = pd.read_csv(Raleigh_CO_2020)
df_2020_NO = pd.read_csv(Raleigh_NO_2020)
df_2020_O = pd.read_csv(Raleigh_O_2020)
df_2020_PM = pd.read_csv(Raleigh_PM_2020)
df_2020_SO = pd.read_csv(Raleigh_SO_2020)


df_2020_PM=df_2020_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'DAILY_OBS_COUNT', 'SITE_LATITUDE','SITE_LONGITUDE' ]]
df_2020_CO=df_2020_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_NO=df_2020_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_O=df_2020_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_SO=df_2020_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]


df_2020_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,SITE_LATITUDE,SITE_LONGITUDE
0,Millbrook School,1/1/2020,8,ug/m3 SC,7,1,35.856111,-78.574167
1,Millbrook School,1/2/2020,13,ug/m3 SC,12,1,35.856111,-78.574167
2,Millbrook School,1/3/2020,12,ug/m3 SC,11,1,35.856111,-78.574167
3,Millbrook School,1/4/2020,3,ug/m3 SC,3,1,35.856111,-78.574167
4,Millbrook School,1/5/2020,6,ug/m3 SC,6,1,35.856111,-78.574167
...,...,...,...,...,...,...,...,...
693,Millbrook School,12/27/2020,19,ug/m3 SC,18,1,35.856111,-78.574167
694,Millbrook School,12/28/2020,18,ug/m3 SC,17,1,35.856111,-78.574167
695,Millbrook School,12/29/2020,13,ug/m3 SC,12,1,35.856111,-78.574167
696,Millbrook School,12/30/2020,12,ug/m3 SC,11,1,35.856111,-78.574167
697,Millbrook School,12/31/2020,14,ug/m3 SC,13,1,35.856111,-78.574167

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [3]:
left = df_2020_PM
right = df_2020_NO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = Raleigh_2020_All
right = df_2020_O
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = Raleigh_2020_All
right = df_2020_SO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = Raleigh_2020_All
right = df_2020_CO
Raleigh_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
#LA_2016_All.columns

In [8]:
#LA_2016_All.count()

In [9]:
Raleigh_2020_All.columns=['Site Name','Date','DMean PM10','PM_UNITS','PM10 AQI','PM-WEIGHT','LAt','Lng','DMax NO2','NO2 Units','NO2 AQI','NO2-WEIGHT','Merged','DMax Ozone','Ozone Units','Ozone AQI','OZONE-WEIGHT','DMax SO2','SO2 Units','SO2 AQI','SO2-WEIGHT','DMax CO','CO Units','CO AQI','CO-WEIGHT']

In [10]:
#LA_2016_All.count()

In [11]:
Raleigh_2020_All.drop('Merged',axis=1,inplace=True)
Raleigh_2020_All.to_csv("Raleigh2020DF.csv")