In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load 
Seattle_CO_2018 = "CO-CarbonMonoxide/2018-Seattle-CO.csv"
Seattle_NO_2018 = "NitrogenDioxide/2018-Seattle-NO2.csv"
Seattle_O_2018 = "Ozone/2018-Seattle-Ozone.csv"
#no lead for Seattle
Seattle_PM_2018 = "PM-ParticulateMatter/2018-Seattle-PM10.csv"
Seattle_SO_2018 = "SulfurDioxide/2018-Seattle-SO2.csv"

#Read files into Pandas dataframe

df_2018_CO = pd.read_csv(Seattle_CO_2018)
df_2018_NO = pd.read_csv(Seattle_NO_2018)
df_2018_O = pd.read_csv(Seattle_O_2018)
df_2018_PM = pd.read_csv(Seattle_PM_2018)
df_2018_SO = pd.read_csv(Seattle_SO_2018)


df_2018_PM=df_2018_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'DAILY_OBS_COUNT', 'SITE_LATITUDE','SITE_LONGITUDE' ]]
df_2018_CO=df_2018_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2018_NO=df_2018_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2018_O=df_2018_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2018_SO=df_2018_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]


df_2018_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,SITE_LATITUDE,SITE_LONGITUDE
0,SEATTLE - BEACON HILL,1/2/2018,13,ug/m3 SC,12,1,47.568236,-122.308628
1,SEATTLE - BEACON HILL,1/5/2018,8,ug/m3 SC,7,1,47.568236,-122.308628
2,SEATTLE - BEACON HILL,1/11/2018,3,ug/m3 SC,3,1,47.568236,-122.308628
3,SEATTLE - BEACON HILL,1/14/2018,11,ug/m3 SC,10,1,47.568236,-122.308628
4,SEATTLE - BEACON HILL,1/20/2018,4,ug/m3 SC,4,1,47.568236,-122.308628
...,...,...,...,...,...,...,...,...
98,SEATTLE - BEACON HILL,12/19/2018,11,ug/m3 SC,10,1,47.568236,-122.308628
99,SEATTLE - BEACON HILL,12/22/2018,8,ug/m3 SC,7,1,47.568236,-122.308628
100,SEATTLE - BEACON HILL,12/25/2018,9,ug/m3 SC,8,1,47.568236,-122.308628
101,SEATTLE - BEACON HILL,12/28/2018,4,ug/m3 SC,4,1,47.568236,-122.308628
102,SEATTLE - BEACON HILL,12/31/2018,7,ug/m3 SC,6,1,47.568236,-122.308628

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [3]:
left = df_2018_PM
right = df_2018_NO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = Seattle_2018_All
right = df_2018_O
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = Seattle_2018_All
right = df_2018_SO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = Seattle_2018_All
right = df_2018_CO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
#LA_2016_All.columns

In [8]:
#LA_2016_All.count()

In [9]:
Seattle_2018_All.columns=['Site Name','Date','DMean PM10','PM_UNITS','PM10 AQI','PM-WEIGHT','LAt','Lng','DMax NO2','NO2 Units','NO2 AQI','NO2-WEIGHT','Merged','DMax Ozone','Ozone Units','Ozone AQI','OZONE-WEIGHT','DMax SO2','SO2 Units','SO2 AQI','SO2-WEIGHT','DMax CO','CO Units','CO AQI','CO-WEIGHT']

In [10]:
#LA_2016_All.count()

In [11]:
Seattle_2018_All.drop('Merged',axis=1,inplace=True)
Seattle_2018_All.to_csv("Seattle2018DF.csv")