In [1]:
import pandas as pd
import io
from io import StringIO

READ THE CSV AND PERFORM BASIC DATA CLEANING

In [2]:
df_01 = pd.read_csv("LA2016DF.csv")
#print(df_01.count())
#print(df_01)
#drop the null rows
#df_01 = df_01.dropna()
#print(df_01.count())
print(df_01['Site Name'].unique())

['Azusa' 'Glendora' 'Los Angeles-North Main Street' 'Long Beach (South)'
 'Long Beach (Hudson)' 'LAX Hastings' 'Santa Clarita'
 'Lancaster-Division Street' 'Anaheim' 'Mission Viejo' 'West Los Angeles'
 'Reseda' 'Compton' 'Pico Rivera #2' 'Pomona' 'Pasadena'
 'Long Beach-Route 710 Near Road' 'Anaheim Near-Road' 'Costa Mesa'
 'La Habra']

In [3]:
#print(df_01.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test_df=df_01.iloc[:,1:]
test_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Azusa,1/1/2016,12.0,ug/m3 SC,11.0,34.1365,-117.92391,14.5,ppb,13.0,0.043,ppm,40.0,NaN,NaN,NaN,0.2,ppm,2.0
1,Azusa,1/7/2016,7.0,ug/m3 SC,6.0,34.1365,-117.92391,24.9,ppb,23.0,0.035,ppm,32.0,NaN,NaN,NaN,0.3,ppm,3.0
2,Azusa,1/13/2016,32.0,ug/m3 SC,30.0,34.1365,-117.92391,47.4,ppb,44.0,0.013,ppm,12.0,NaN,NaN,NaN,0.8,ppm,9.0
3,Azusa,1/19/2016,24.0,ug/m3 SC,22.0,34.1365,-117.92391,25.9,ppb,24.0,0.015,ppm,14.0,NaN,NaN,NaN,0.4,ppm,5.0
4,Azusa,1/25/2016,16.0,ug/m3 SC,15.0,34.1365,-117.92391,21.8,ppb,20.0,0.036,ppm,33.0,NaN,NaN,NaN,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7242,Anaheim Near-Road,4/13/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,ppm,13.0
7243,Anaheim Near-Road,4/14/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,ppm,13.0
7244,Mission Viejo,2/19/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,ppm,2.0
7245,Mission Viejo,8/30/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,ppm,2.0
7246,Mission Viejo,12/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,ppm,2.0

In [4]:
df_02 = pd.read_csv("LA2018DF.csv")
#print(df_02.count())
#drop the null rows
#df_02 = df_02.dropna()
#print(df_02['Site Name'].unique())

In [5]:
#print(df_02.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test2_df=df_02.iloc[:,1:]
test2_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Azusa,1/2/2018,78.0,ug/m3 SC,62.0,34.1365,-117.92391,69.6,ppb,67.0,0.032,ppm,30.0,NaN,NaN,NaN,1.0,ppm,11.0
1,Azusa,1/8/2018,14.0,ug/m3 SC,13.0,34.1365,-117.92391,26.8,ppb,25.0,0.022,ppm,20.0,NaN,NaN,NaN,0.7,ppm,8.0
2,Azusa,1/14/2018,10.0,ug/m3 SC,9.0,34.1365,-117.92391,15.7,ppb,14.0,0.044,ppm,41.0,NaN,NaN,NaN,0.3,ppm,3.0
3,Azusa,1/20/2018,13.0,ug/m3 SC,12.0,34.1365,-117.92391,20.2,ppb,19.0,0.043,ppm,40.0,NaN,NaN,NaN,0.3,ppm,3.0
4,Azusa,1/26/2018,16.0,ug/m3 SC,15.0,34.1365,-117.92391,18.2,ppb,17.0,0.037,ppm,34.0,NaN,NaN,NaN,0.3,ppm,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6902,Mission Viejo,11/14/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
6903,Mission Viejo,12/14/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,ppm,10.0
6904,Mission Viejo,12/31/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,ppm,2.0
6905,La Habra,3/31/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
6906,La Habra,6/15/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,ppm,1.0

In [6]:
df_03 = pd.read_csv("LA2020DF.csv")
#print(df_01.count())
#drop the null rows
#df_03 = df_03.dropna()
print(df_03['Site Name'].unique())

['Azusa' 'Glendora' 'Los Angeles-North Main Street' 'Long Beach (South)'
 'Long Beach (Hudson)' 'LAX Hastings' 'Santa Clarita'
 'Lancaster-Division Street' 'Anaheim' 'Mission Viejo' 'West Los Angeles'
 'Reseda' 'Compton' 'Pico Rivera #2' 'Pomona' 'Pasadena'
 'Long Beach-Route 710 Near Road' 'Signal Hill (LBSH)'
 'North Hollywood (NOHO)' 'Anaheim Near-Road' 'La Habra']

In [7]:
#print(df_03.head())
#pd.read_csv(io.StringIO(df_01.to_csv(index=False)))
test3_df=df_03.iloc[:,1:]
test3_df

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Azusa,1/4/2020,25.0,ug/m3 SC,23.0,34.1365,-117.92391,43.9,ppb,41.0,0.026,ppm,24.0,NaN,NaN,NaN,0.7,ppm,8.0
1,Azusa,1/10/2020,20.0,ug/m3 SC,19.0,34.1365,-117.92391,28.7,ppb,26.0,0.024,ppm,22.0,NaN,NaN,NaN,0.4,ppm,5.0
2,Azusa,1/16/2020,32.0,ug/m3 SC,30.0,34.1365,-117.92391,35.5,ppb,33.0,0.038,ppm,35.0,NaN,NaN,NaN,0.6,ppm,7.0
3,Azusa,1/22/2020,21.0,ug/m3 SC,19.0,34.1365,-117.92391,23.4,ppb,22.0,0.027,ppm,25.0,NaN,NaN,NaN,0.3,ppm,3.0
4,Azusa,1/28/2020,23.0,ug/m3 SC,21.0,34.1365,-117.92391,34.3,ppb,32.0,0.028,ppm,26.0,NaN,NaN,NaN,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7777,Mission Viejo,2/6/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
7778,La Habra,1/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,ppm,9.0
7779,La Habra,3/10/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,ppm,1.0
7780,La Habra,6/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
7781,La Habra,7/13/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,ppm,1.0

In [8]:
AllData=pd.DataFrame()
AllData=AllData.append(test_df)

In [9]:
AllData=AllData.append(test2_df)

In [10]:
AllData=AllData.append(test3_df)

In [11]:
AllData.to_csv("LAMerged.csv")

In [12]:
AllData

,Site Name,Date,DMean PM10,PM10 Units,PM10 AQI,Lat,Lng,DMax NO2,NO2 Units,NO2 AQI,DMax Ozone,Ozone Units,Ozone AQI,DMax SO2,SO2 Units,SO2 AQI,DMax CO,CO Units,CO AQI
0,Azusa,1/1/2016,12.0,ug/m3 SC,11.0,34.1365,-117.92391,14.5,ppb,13.0,0.043,ppm,40.0,NaN,NaN,NaN,0.2,ppm,2.0
1,Azusa,1/7/2016,7.0,ug/m3 SC,6.0,34.1365,-117.92391,24.9,ppb,23.0,0.035,ppm,32.0,NaN,NaN,NaN,0.3,ppm,3.0
2,Azusa,1/13/2016,32.0,ug/m3 SC,30.0,34.1365,-117.92391,47.4,ppb,44.0,0.013,ppm,12.0,NaN,NaN,NaN,0.8,ppm,9.0
3,Azusa,1/19/2016,24.0,ug/m3 SC,22.0,34.1365,-117.92391,25.9,ppb,24.0,0.015,ppm,14.0,NaN,NaN,NaN,0.4,ppm,5.0
4,Azusa,1/25/2016,16.0,ug/m3 SC,15.0,34.1365,-117.92391,21.8,ppb,20.0,0.036,ppm,33.0,NaN,NaN,NaN,0.4,ppm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7777,Mission Viejo,2/6/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
7778,La Habra,1/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,ppm,9.0
7779,La Habra,3/10/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,ppm,1.0
7780,La Habra,6/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
7781,La Habra,7/13/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,ppm,1.0