In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load 
NY_CO_2016 = "CO-CarbonMonoxide/2016-NY-CO.csv"
NY_NO_2016 = "NitrogenDioxide/2016-NY-NO2.csv"
NY_O_2016 = "Ozone/2016-NY-Ozone.csv"
#no lead for NY
NY_PM_2016 = "PM-ParticulateMatter/2016-NY-PM10.csv"
NY_SO_2016 = "SulfurDioxide/2016-NY-SO2.csv"

#Read files into Pandas dataframe

df_2016_CO = pd.read_csv(NY_CO_2016)
df_2016_NO = pd.read_csv(NY_NO_2016)
df_2016_O = pd.read_csv(NY_O_2016)
df_2016_PM = pd.read_csv(NY_PM_2016)
df_2016_SO = pd.read_csv(NY_SO_2016)


df_2016_PM=df_2016_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'DAILY_OBS_COUNT', 'SITE_LATITUDE','SITE_LONGITUDE' ]]
df_2016_CO=df_2016_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2016_NO=df_2016_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2016_O=df_2016_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2016_SO=df_2016_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]


df_2016_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,SITE_LATITUDE,SITE_LONGITUDE
0,Newark Firehouse,1/1/2016,3,ug/m3 SC,3,1,40.720989,-74.192892
1,Newark Firehouse,1/4/2016,4,ug/m3 SC,4,1,40.720989,-74.192892
2,Newark Firehouse,1/7/2016,45,ug/m3 SC,42,1,40.720989,-74.192892
3,Newark Firehouse,1/10/2016,12,ug/m3 SC,11,1,40.720989,-74.192892
4,Newark Firehouse,1/13/2016,10,ug/m3 SC,9,1,40.720989,-74.192892
...,...,...,...,...,...,...,...,...
221,Jersey City Firehouse,11/26/2016,14,ug/m3 SC,13,1,40.725413,-74.052293
222,Jersey City Firehouse,12/2/2016,7,ug/m3 SC,6,1,40.725413,-74.052293
223,Jersey City Firehouse,12/8/2016,14,ug/m3 SC,13,1,40.725413,-74.052293
224,Jersey City Firehouse,12/14/2016,19,ug/m3 SC,18,1,40.725413,-74.052293
225,Jersey City Firehouse,12/26/2016,12,ug/m3 SC,11,1,40.725413,-74.052293

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [3]:
left = df_2016_PM
right = df_2016_NO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = NY_2016_All
right = df_2016_O
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = NY_2016_All
right = df_2016_SO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = NY_2016_All
right = df_2016_CO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
#LA_2016_All.columns

In [8]:
#LA_2016_All.count()

In [9]:
NY_2016_All.columns=['Site Name','Date','DMean PM10','PM_UNITS','PM10 AQI','PM-WEIGHT','NYt','Lng','DMax NO2','NO2 Units','NO2 AQI','NO2-WEIGHT','Merged','DMax Ozone','Ozone Units','Ozone AQI','OZONE-WEIGHT','DMax SO2','SO2 Units','SO2 AQI','SO2-WEIGHT','DMax CO','CO Units','CO AQI','CO-WEIGHT']

In [10]:
#LA_2016_All.count()

In [11]:
NY_2016_All.drop('Merged',axis=1,inplace=True)
NY_2016_All.to_csv("NY2016DF.csv")