In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load for 2016
NY_CO_2016 = "CO-CarbonMonoxide/2016-NY-CO.csv"
NY_NO_2016 = "NitrogenDioxide/2016-NY-NO2.csv"
NY_O_2016 = "Ozone/2016-NY-Ozone.csv"
NY_PB_2016 = "PB-Lead/2016-NY-PB.csv"
NY_PM_2016 = "PM-ParticulateMatter/2016-NY-PM10.csv"
NY_SO_2016 = "SulfurDioxide/2016-NY-SO2.csv"

#Read files into Pandas dataframe

df_2016_CO = pd.read_csv(NY_CO_2016)
df_2016_NO = pd.read_csv(NY_NO_2016)
df_2016_O = pd.read_csv(NY_O_2016)
df_2016_PB = pd.read_csv(NY_PB_2016)
df_2016_PM = pd.read_csv(NY_PM_2016)
df_2016_SO = pd.read_csv(NY_SO_2016)


df_2016_PM=df_2016_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2016_CO=df_2016_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_NO=df_2016_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_O=df_2016_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_SO=df_2016_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_PB=df_2016_PB[['Site Name','Date','Daily Mean Pb Concentration','UNITS','DAILY_AQI_VALUE']]


df_2016_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Newark Firehouse,1/1/2016,3,ug/m3 SC,3,40.720989,-74.192892
1,Newark Firehouse,1/4/2016,4,ug/m3 SC,4,40.720989,-74.192892
2,Newark Firehouse,1/7/2016,45,ug/m3 SC,42,40.720989,-74.192892
3,Newark Firehouse,1/10/2016,12,ug/m3 SC,11,40.720989,-74.192892
4,Newark Firehouse,1/13/2016,10,ug/m3 SC,9,40.720989,-74.192892
...,...,...,...,...,...,...,...
221,Jersey City Firehouse,11/26/2016,14,ug/m3 SC,13,40.725413,-74.052293
222,Jersey City Firehouse,12/2/2016,7,ug/m3 SC,6,40.725413,-74.052293
223,Jersey City Firehouse,12/8/2016,14,ug/m3 SC,13,40.725413,-74.052293
224,Jersey City Firehouse,12/14/2016,19,ug/m3 SC,18,40.725413,-74.052293
225,Jersey City Firehouse,12/26/2016,12,ug/m3 SC,11,40.725413,-74.052293

In [3]:
left = df_2016_PM
right = df_2016_NO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = NY_2016_All
right = df_2016_O
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = NY_2016_All
right = df_2016_SO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = NY_2016_All
right = df_2016_CO
NY_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
NY_2016_All.columns

Index(['Site Name', 'Date', 'Daily Mean PM10 Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'SITE_LATITUDE', 'SITE_LONGITUDE',
       'Daily Max 1-hour NO2 Concentration', 'UNITS_y', 'DAILY_AQI_VALUE_y',
       '_merge', 'Daily Max 8-hour Ozone Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'Daily Max 1-hour SO2 Concentration', 'UNITS_y',
       'DAILY_AQI_VALUE_y', 'Daily Max 8-hour CO Concentration', 'UNITS',
       'DAILY_AQI_VALUE'],
      dtype='object')

In [8]:
NY_2016_All.count()

Site Name                               9242
Date                                    9242
Daily Mean PM10 Concentration            226
UNITS_x                                  226
DAILY_AQI_VALUE_x                        226
SITE_LATITUDE                            226
SITE_LONGITUDE                           226
Daily Max 1-hour NO2 Concentration      3741
UNITS_y                                 3741
DAILY_AQI_VALUE_y                       3741
_merge                                  3854
Daily Max 8-hour Ozone Concentration    7075
UNITS_x                                 7075
DAILY_AQI_VALUE_x                       7075
Daily Max 1-hour SO2 Concentration      4676
UNITS_y                                 4676
DAILY_AQI_VALUE_y                       4676
Daily Max 8-hour CO Concentration       2871
UNITS                                   2871
DAILY_AQI_VALUE                         2871
dtype: int64

In [9]:
#print(ElPaso_2016_All)

In [10]:
NY_2016_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [11]:
NY_2016_All.count()

Site Name      9242
Date           9242
DMean PM10      226
PM10 Units      226
PM10 AQI        226
Lat             226
Lng             226
DMax NO2       3741
NO2 Units      3741
NO2 AQI        3741
Merged         3854
DMax Ozone     7075
Ozone Units    7075
Ozone AQI      7075
DMax SO2       4676
SO2 Units      4676
SO2 AQI        4676
DMax CO        2871
CO Units       2871
CO AQI         2871
dtype: int64

In [12]:
NY_2016_All.drop('Merged',axis=1,inplace=True)
NY_2016_All.to_csv("NY2016DF.csv")

2018 Data

In [13]:
#files to load for 2018

NY_CO_2018 = "CO-CarbonMonoxide/2018-NY-CO.csv"
NY_NO_2018 = "NitrogenDioxide/2018-NY-NO2.csv"
NY_O_2018 = "Ozone/2018-NY-Ozone.csv"
NY_PB_2018 = "PB-Lead/2018-NY-PB.csv"
NY_PM_2018 = "PM-ParticulateMatter/2018-NY-PM10.csv"
NY_SO_2018 = "SulfurDioxide/2018-NY-SO2.csv"


#Read files into Pandas dataframe

df_2018_CO = pd.read_csv(NY_CO_2018)
df_2018_NO = pd.read_csv(NY_NO_2018)
df_2018_O = pd.read_csv(NY_O_2018)
df_2018_PB = pd.read_csv(NY_PB_2018)
df_2018_PM = pd.read_csv(NY_PM_2018)
df_2018_SO = pd.read_csv(NY_SO_2018)

df_2018_PM=df_2018_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2018_CO=df_2018_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_NO=df_2018_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_O=df_2018_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_SO=df_2018_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_PB=df_2018_PB[['Site Name','Date','Daily Mean Pb Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Newark Firehouse,1/2/2018,16,ug/m3 SC,15,40.720989,-74.192892
1,Newark Firehouse,1/5/2018,6,ug/m3 SC,6,40.720989,-74.192892
2,Newark Firehouse,1/8/2018,26,ug/m3 SC,24,40.720989,-74.192892
3,Newark Firehouse,1/11/2018,40,ug/m3 SC,37,40.720989,-74.192892
4,Newark Firehouse,1/17/2018,16,ug/m3 SC,15,40.720989,-74.192892
...,...,...,...,...,...,...,...
455,QUEENS COLLEGE 2,12/4/2018,2,ug/m3 SC,2,40.736140,-73.821530
456,QUEENS COLLEGE 2,12/10/2018,11,ug/m3 SC,10,40.736140,-73.821530
457,QUEENS COLLEGE 2,12/16/2018,5,ug/m3 SC,5,40.736140,-73.821530
458,QUEENS COLLEGE 2,12/22/2018,9,ug/m3 SC,8,40.736140,-73.821530
459,QUEENS COLLEGE 2,12/28/2018,9,ug/m3 SC,8,40.736140,-73.821530

In [14]:
NY_2018_All=[]

In [15]:
left = df_2018_PM
right = df_2018_NO
NY_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [16]:
left = NY_2018_All
right = df_2018_O
NY_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [17]:
left = NY_2018_All
right = df_2018_SO
NY_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [19]:
left = NY_2018_All
right = df_2018_CO
NY_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [20]:
NY_2018_All.columns

Index(['Site Name', 'Date', 'Daily Mean PM10 Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'SITE_LATITUDE', 'SITE_LONGITUDE',
       'Daily Max 1-hour NO2 Concentration', 'UNITS_y', 'DAILY_AQI_VALUE_y',
       '_merge', 'Daily Max 8-hour Ozone Concentration', 'UNITS_x',
       'DAILY_AQI_VALUE_x', 'Daily Max 1-hour SO2 Concentration', 'UNITS_y',
       'DAILY_AQI_VALUE_y', 'Daily Max 8-hour CO Concentration', 'UNITS',
       'DAILY_AQI_VALUE'],
      dtype='object')

In [21]:
NY_2018_All.count()

Site Name                               9744
Date                                    9744
Daily Mean PM10 Concentration            460
UNITS_x                                  460
DAILY_AQI_VALUE_x                        460
SITE_LATITUDE                            460
SITE_LONGITUDE                           460
Daily Max 1-hour NO2 Concentration      3930
UNITS_y                                 3930
DAILY_AQI_VALUE_y                       3930
_merge                                  4121
Daily Max 8-hour Ozone Concentration    7256
UNITS_x                                 7256
DAILY_AQI_VALUE_x                       7256
Daily Max 1-hour SO2 Concentration      4723
UNITS_y                                 4723
DAILY_AQI_VALUE_y                       4723
Daily Max 8-hour CO Concentration       3227
UNITS                                   3227
DAILY_AQI_VALUE                         3227
dtype: int64

In [22]:
NY_2018_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [23]:
NY_2018_All.drop('Merged',axis=1,inplace=True)
NY_2018_All.to_csv("NY2018DF.csv")

2020 Data

In [24]:
#files to load for 2020

NY_CO_2020 = "CO-CarbonMonoxide/2020-NY-CO.csv"
NY_NO_2020 = "NitrogenDioxide/2020-NY-NO2.csv"
NY_O_2020 = "Ozone/2020-NY-Ozone.csv"
NY_PB_2020 = "PB-Lead/2020-NY-PB.csv"
NY_PM_2020 = "PM-ParticulateMatter/2020-NY-PM10.csv"
NY_SO_2020 = "SulfurDioxide/2020-NY-SO2.csv"

#Read files into Pandas dataframe

df_2020_CO = pd.read_csv(NY_CO_2020)
df_2020_NO = pd.read_csv(NY_NO_2020)
df_2020_O = pd.read_csv(NY_O_2020)
df_2020_PB = pd.read_csv(NY_PB_2020)
df_2020_PM = pd.read_csv(NY_PM_2020)
df_2020_SO = pd.read_csv(NY_SO_2020)


df_2020_PM=df_2020_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2020_CO=df_2020_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_NO=df_2020_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_O=df_2020_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_SO=df_2020_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_PB=df_2020_PB[['Site Name','Date','Daily Mean Pb Concentration','UNITS','DAILY_AQI_VALUE']]


df_2020_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,Newark Firehouse,1/1/2020,4,ug/m3 SC,4,40.720989,-74.192892
1,Newark Firehouse,1/4/2020,12,ug/m3 SC,11,40.720989,-74.192892
2,Newark Firehouse,1/7/2020,18,ug/m3 SC,17,40.720989,-74.192892
3,Newark Firehouse,1/10/2020,14,ug/m3 SC,13,40.720989,-74.192892
4,Newark Firehouse,1/13/2020,25,ug/m3 SC,23,40.720989,-74.192892
...,...,...,...,...,...,...,...
284,QUEENS COLLEGE 2,12/5/2020,6,ug/m3 SC,6,40.736140,-73.821530
285,QUEENS COLLEGE 2,12/11/2020,23,ug/m3 SC,21,40.736140,-73.821530
286,QUEENS COLLEGE 2,12/17/2020,4,ug/m3 SC,4,40.736140,-73.821530
287,QUEENS COLLEGE 2,12/23/2020,10,ug/m3 SC,9,40.736140,-73.821530
288,QUEENS COLLEGE 2,12/29/2020,6,ug/m3 SC,6,40.736140,-73.821530

In [25]:
NY_2020_All = []

In [26]:
left = df_2020_PM
right = df_2020_NO
NY_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [27]:
left = NY_2020_All
right = df_2020_O
NY_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [28]:
left = NY_2020_All
right = df_2020_SO
NY_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [29]:
left = NY_2020_All
right = df_2020_CO
NY_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [30]:
NY_2020_All.count()

Site Name                               9605
Date                                    9605
Daily Mean PM10 Concentration            289
UNITS_x                                  289
DAILY_AQI_VALUE_x                        289
SITE_LATITUDE                            289
SITE_LONGITUDE                           289
Daily Max 1-hour NO2 Concentration      3933
UNITS_y                                 3933
DAILY_AQI_VALUE_y                       3933
_merge                                  4033
Daily Max 8-hour Ozone Concentration    7338
UNITS_x                                 7338
DAILY_AQI_VALUE_x                       7338
Daily Max 1-hour SO2 Concentration      4580
UNITS_y                                 4580
DAILY_AQI_VALUE_y                       4580
Daily Max 8-hour CO Concentration       3009
UNITS                                   3009
DAILY_AQI_VALUE                         3009
dtype: int64

In [31]:
NY_2020_All.tail()

,Site Name,Date,Daily Mean PM10 Concentration,UNITS_x,DAILY_AQI_VALUE_x,SITE_LATITUDE,SITE_LONGITUDE,Daily Max 1-hour NO2 Concentration,UNITS_y,DAILY_AQI_VALUE_y,_merge,Daily Max 8-hour Ozone Concentration,UNITS_x,DAILY_AQI_VALUE_x,Daily Max 1-hour SO2 Concentration,UNITS_y,DAILY_AQI_VALUE_y,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE
9600,Queens College Near Road,11/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,ppm,8.0
9601,Queens College Near Road,12/18/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0
9602,Queens College Near Road,12/23/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9603,Queens College Near Road,12/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,ppm,3.0
9604,Queens College Near Road,12/29/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,ppm,5.0

In [32]:
NY_2020_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [33]:
NY_2020_All.columns

Index(['Site Name', 'Date', 'DMean PM10', 'PM10 Units', 'PM10 AQI', 'Lat',
       'Lng', 'DMax NO2', 'NO2 Units', 'NO2 AQI', 'Merged', 'DMax Ozone',
       'Ozone Units', 'Ozone AQI', 'DMax SO2', 'SO2 Units', 'SO2 AQI',
       'DMax CO', 'CO Units', 'CO AQI'],
      dtype='object')

In [34]:
NY_2020_All.drop('Merged',axis=1,inplace=True)
NY_2020_All.to_csv("NY2020DF.csv")