In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [2]:
#files to load 
LA_CO_2020 = "CO-CarbonMonoxide/2020-LA-CO.csv"
LA_NO_2020 = "NitrogenDioxide/2020-LA-NO2.csv"
LA_O_2020 = "Ozone/2020-LA-Ozone.csv"
#no lead for LA
LA_PM_2020 = "PM-ParticulateMatter/2020-LA-PM10.csv"
LA_SO_2020 = "SulfurDioxide/2020-LA-SO2.csv"

#Read files into Pandas dataframe

df_2020_CO = pd.read_csv(LA_CO_2020)
df_2020_NO = pd.read_csv(LA_NO_2020)
df_2020_O = pd.read_csv(LA_O_2020)
df_2020_PM = pd.read_csv(LA_PM_2020)
df_2020_SO = pd.read_csv(LA_SO_2020)


df_2020_PM=df_2020_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'DAILY_OBS_COUNT', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2020_CO=df_2020_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_NO=df_2020_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_O=df_2020_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]

df_2020_SO=df_2020_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE','DAILY_OBS_COUNT']]


df_2020_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,SITE_LATITUDE,SITE_LONGITUDE
0,Azusa,1/4/2020,25,ug/m3 SC,23,1,34.13650,-117.92391
1,Azusa,1/10/2020,20,ug/m3 SC,19,1,34.13650,-117.92391
2,Azusa,1/16/2020,32,ug/m3 SC,30,1,34.13650,-117.92391
3,Azusa,1/22/2020,21,ug/m3 SC,19,1,34.13650,-117.92391
4,Azusa,1/28/2020,23,ug/m3 SC,21,1,34.13650,-117.92391
...,...,...,...,...,...,...,...,...
1382,Mission Viejo,12/5/2020,16,ug/m3 SC,15,1,33.63003,-117.67593
1383,Mission Viejo,12/11/2020,17,ug/m3 SC,16,1,33.63003,-117.67593
1384,Mission Viejo,12/17/2020,11,ug/m3 SC,10,1,33.63003,-117.67593
1385,Mission Viejo,12/23/2020,22,ug/m3 SC,20,1,33.63003,-117.67593
1386,Mission Viejo,12/29/2020,4,ug/m3 SC,4,1,33.63003,-117.67593

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [3]:
left = df_2020_PM
right = df_2020_NO
LA_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [4]:
left = LA_2020_All
right = df_2020_O
LA_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [5]:
left = LA_2020_All
right = df_2020_SO
LA_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [6]:
left = LA_2020_All
right = df_2020_CO
LA_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [7]:
#LA_2016_All.columns

In [8]:
#LA_2016_All.count()

In [9]:
LA_2020_All.columns=['Site Name','Date','DMean PM10','PM_UNITS','PM10 AQI','PM-WEIGHT','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','NO2-WEIGHT','Merged','DMax Ozone','Ozone Units','Ozone AQI','OZONE-WEIGHT','DMax SO2','SO2 Units','SO2 AQI','SO2-WEIGHT','DMax CO','CO Units','CO AQI','CO-WEIGHT']

In [10]:
#LA_2016_All.count()

In [11]:
LA_2020_All.drop('Merged',axis=1,inplace=True)
LA_2020_All.to_csv("LA2020DF.csv")