In [7]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

2016 Data

In [9]:
#files to load for 2016
Seattle_CO_2016 = "CO-CarbonMonoxide/2016-Seattle-CO.csv"
Seattle_NO_2016 = "NitrogenDioxide/2016-Seattle-NO2.csv"
Seattle_O_2016 = "Ozone/2016-Seattle-Ozone.csv"

#no lead for Raleigh

Seattle_PM_2016 = "PM-ParticulateMatter/2016-Seattle-PM10.csv"
Seattle_SO_2016 = "SulfurDioxide/2016-Seattle-SO2.csv"

#Read files into Pandas dataframe

df_2016_CO = pd.read_csv(Seattle_CO_2016)
df_2016_NO = pd.read_csv(Seattle_NO_2016)
df_2016_O = pd.read_csv(Seattle_O_2016)
df_2016_SO = pd.read_csv(Seattle_SO_2016)



df_2016_CO=df_2016_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_NO=df_2016_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_O=df_2016_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2016_SO=df_2016_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2016_CO

,Site Name,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE
0,Seattle-10th & Weller,1/1/2016,1.1,ppm,13
1,Seattle-10th & Weller,1/2/2016,1.3,ppm,15
2,Seattle-10th & Weller,1/3/2016,1.0,ppm,11
3,Seattle-10th & Weller,1/4/2016,0.7,ppm,8
4,Seattle-10th & Weller,1/5/2016,1.1,ppm,13
...,...,...,...,...,...
647,SEATTLE - BEACON HILL,12/27/2016,0.2,ppm,2
648,SEATTLE - BEACON HILL,12/28/2016,0.3,ppm,3
649,SEATTLE - BEACON HILL,12/29/2016,0.3,ppm,3
650,SEATTLE - BEACON HILL,12/30/2016,0.4,ppm,5
651,SEATTLE - BEACON HILL,12/31/2016,0.4,ppm,5

print(df_2016_O.count())
print(df_2016_CO.count())
print(df_2016_NO.count())
print(df_2016_PM.count())
print(df_2016_SO.count())

Scratched
#Cheyenne_2016_All = left.join(right, on=['Site Name'])
#Cheyenne_2016_All = pd.concat([left, right], axis=1)
#Cheyenne_2016_All = pd.merge(left.drop_duplicates(),right, how='inner', on='Site Name', validate='many_to_many')
#C_2016=pd.merge(left.drop_duplicates(), right, how = 'inner',on=['col_1','col_2'])
#C_2016=pd.concat([left, right],axis=1 )

In [ ]:
left = df_2016_PM
right = df_2016_NO
Seattle_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [ ]:
left = Seattle_2016_All
right = df_2016_O
Seattle_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2016_All
right = df_2016_SO
Seattle_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2016_All
right = df_2016_CO
Seattle_2016_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
Seattle_2016_All.columns

In [ ]:
Seattle_2016_All.count()

In [ ]:
#print(Raleigh_2016_All)

In [ ]:
Seattle_2016_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [ ]:
Seattle_2016_All.count()

In [ ]:
Seattle_2016_All.drop('Merged',axis=1,inplace=True)
Seattle_2016_All.to_csv("SE2016DF.csv")

2018 Data

In [10]:
#files to load for 2018

Seattle_CO_2018 = "CO-CarbonMonoxide/2018-Seattle-CO.csv"
Seattle_NO_2018 = "NitrogenDioxide/2018-Seattle-NO2.csv"
Seattle_O_2018= "Ozone/2018-Seattle-Ozone.csv"
Seattle_PM_2018 = "PM-ParticulateMatter/2018-Seattle-PM10.csv"
Seattle_SO_2018 = "SulfurDioxide/2018-Seattle-SO2.csv"

#Read files into Pandas dataframe

df_2018_CO = pd.read_csv(Seattle_CO_2018)
df_2018_NO = pd.read_csv(Seattle_NO_2018)
df_2018_O = pd.read_csv(Seattle_O_2018)
df_2018_PM = pd.read_csv(Seattle_PM_2018)
df_2018_SO = pd.read_csv(Seattle_SO_2018)

df_2018_PM=df_2018_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2018_CO=df_2018_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_NO=df_2018_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_O=df_2018_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2018_SO=df_2018_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2018_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,SEATTLE - BEACON HILL,1/2/2018,13,ug/m3 SC,12,47.568236,-122.308628
1,SEATTLE - BEACON HILL,1/5/2018,8,ug/m3 SC,7,47.568236,-122.308628
2,SEATTLE - BEACON HILL,1/11/2018,3,ug/m3 SC,3,47.568236,-122.308628
3,SEATTLE - BEACON HILL,1/14/2018,11,ug/m3 SC,10,47.568236,-122.308628
4,SEATTLE - BEACON HILL,1/20/2018,4,ug/m3 SC,4,47.568236,-122.308628
...,...,...,...,...,...,...,...
98,SEATTLE - BEACON HILL,12/19/2018,11,ug/m3 SC,10,47.568236,-122.308628
99,SEATTLE - BEACON HILL,12/22/2018,8,ug/m3 SC,7,47.568236,-122.308628
100,SEATTLE - BEACON HILL,12/25/2018,9,ug/m3 SC,8,47.568236,-122.308628
101,SEATTLE - BEACON HILL,12/28/2018,4,ug/m3 SC,4,47.568236,-122.308628
102,SEATTLE - BEACON HILL,12/31/2018,7,ug/m3 SC,6,47.568236,-122.308628

In [ ]:
Seattle_2018_All=[]

In [ ]:
left = df_2018_PM
right = df_2018_NO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [ ]:
left = Seattle_2018_All
right = df_2018_O
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2018_All
right = df_2018_SO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2018_All
right = df_2018_CO
Seattle_2018_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
Seattle_2018_All.columns

In [ ]:
Seattle_2018_All.count()

In [ ]:
Seattle_2018_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [ ]:
Seattle_2018_All.drop('Merged',axis=1,inplace=True)
Seattle_2018_All.to_csv("SE2018DF.csv")

2020 Data

In [12]:
#files to load for 2020

Seattle_CO_2020 = "CO-CarbonMonoxide/2020-Seattle-CO.csv"
Seattle_NO_2020 = "NitrogenDioxide/2020-Seattle-NO2.csv"
Seattle_O_2020 = "Ozone/2020-Seattle-Ozone.csv"
#no lead for Seattle
Seattle_PM_2020 = "PM-ParticulateMatter/2020-Seattle-PM10.csv"
Seattle_SO_2020 = "SulfurDioxide/2020-Seattle-SO2.csv"

#Read files into Pandas dataframe

df_2020_CO = pd.read_csv(Seattle_CO_2020)
df_2020_NO = pd.read_csv(Seattle_NO_2020)
df_2020_O = pd.read_csv(Seattle_O_2020)
df_2020_PM = pd.read_csv(Seattle_PM_2020)
df_2020_SO = pd.read_csv(Seattle_SO_2020)


df_2020_PM=df_2020_PM[['Site Name','Date','Daily Mean PM10 Concentration','UNITS','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE' ]]

df_2020_CO=df_2020_CO[['Site Name','Date','Daily Max 8-hour CO Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_NO=df_2020_NO[['Site Name','Date','Daily Max 1-hour NO2 Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_O=df_2020_O[['Site Name','Date','Daily Max 8-hour Ozone Concentration','UNITS','DAILY_AQI_VALUE']]

df_2020_SO=df_2020_SO[['Site Name','Date','Daily Max 1-hour SO2 Concentration','UNITS','DAILY_AQI_VALUE']]


df_2020_PM

,Site Name,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE
0,SEATTLE - BEACON HILL,1/1/2020,4,ug/m3 SC,4,47.568236,-122.308628
1,SEATTLE - BEACON HILL,1/4/2020,7,ug/m3 SC,6,47.568236,-122.308628
2,SEATTLE - BEACON HILL,1/7/2020,2,ug/m3 SC,2,47.568236,-122.308628
3,SEATTLE - BEACON HILL,1/10/2020,2,ug/m3 SC,2,47.568236,-122.308628
4,SEATTLE - BEACON HILL,1/13/2020,7,ug/m3 SC,6,47.568236,-122.308628
...,...,...,...,...,...,...,...
64,SEATTLE - BEACON HILL,12/17/2020,6,ug/m3 SC,6,47.568236,-122.308628
65,SEATTLE - BEACON HILL,12/20/2020,7,ug/m3 SC,6,47.568236,-122.308628
66,SEATTLE - BEACON HILL,12/23/2020,9,ug/m3 SC,8,47.568236,-122.308628
67,SEATTLE - BEACON HILL,12/26/2020,5,ug/m3 SC,5,47.568236,-122.308628
68,SEATTLE - BEACON HILL,12/29/2020,13,ug/m3 SC,12,47.568236,-122.308628

In [ ]:
Seattle_2020_All = []

In [ ]:
left = df_2020_PM
right = df_2020_NO
Seattle_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer', indicator=True)

In [ ]:
left = Seattle_2020_All
right = df_2020_O
Seattle_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2020_All
right = df_2020_SO
Seattle_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
left = Seattle_2020_All
right = df_2020_CO
Seattle_2020_All = pd.merge(left, right, on=['Site Name','Date'],how='outer')

In [ ]:
Seattle_2020_All.count()

In [ ]:
Raleigh_2020_All.tail()

In [ ]:
Seattle_2020_All.columns=['Site Name','Date','DMean PM10','PM10 Units','PM10 AQI','Lat','Lng','DMax NO2','NO2 Units','NO2 AQI','Merged','DMax Ozone','Ozone Units','Ozone AQI','DMax SO2','SO2 Units','SO2 AQI','DMax CO','CO Units','CO AQI']

In [ ]:
Seattle_2020_All.columns

In [ ]:
Seattle_2020_All.drop('Merged',axis=1,inplace=True)
Seattle_2020_All.to_csv("SE2020DF.csv")