In [1]:
#BW
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
from sklearn import datasets
import numpy as np

### Import files and create dataframe

In [2]:
#files to load for 2016 Cheyenne
Cheyenne_CO_2016 = "CO-CarbonMonoxide/2016-Cheyenne-CO.csv"
Cheyenne_NO_2016 = "NitrogenDioxide/2016-Cheyenne-NO2.csv"
Cheyenne_O_2016 = "Ozone/2016-Cheyenne-Ozone.csv"
#no lead for Cheyenne
Cheyenne_PM_2016 = "PM-ParticulateMatter/2016-Cheyenne-PM10.csv"
Cheyenne_SO_2016 = "SulfurDioxide/2016-Cheyenne-SO2.csv"

#Read files into Pandas dataframe
CH_df_2016_CO = pd.read_csv(Cheyenne_CO_2016)
CH_df_2016_NO = pd.read_csv(Cheyenne_NO_2016)
CH_df_2016_O = pd.read_csv(Cheyenne_O_2016)
CH_df_2016_PM = pd.read_csv(Cheyenne_PM_2016)
CH_df_2016_SO = pd.read_csv(Cheyenne_SO_2016)
CH_df_2016_PM.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,1/1/2016,AQS,560210001,1,3,ug/m3 SC,3,Cheyenne SLAMS site,1,100,81102,PM10 Total 0-10um STP,16940,"Cheyenne, WY",56,Wyoming,21,Laramie,41.136846,-104.81824
1,1/7/2016,AQS,560210001,1,7,ug/m3 SC,6,Cheyenne SLAMS site,1,100,81102,PM10 Total 0-10um STP,16940,"Cheyenne, WY",56,Wyoming,21,Laramie,41.136846,-104.81824
2,1/13/2016,AQS,560210001,1,3,ug/m3 SC,3,Cheyenne SLAMS site,1,100,81102,PM10 Total 0-10um STP,16940,"Cheyenne, WY",56,Wyoming,21,Laramie,41.136846,-104.81824
3,1/19/2016,AQS,560210001,1,3,ug/m3 SC,3,Cheyenne SLAMS site,1,100,81102,PM10 Total 0-10um STP,16940,"Cheyenne, WY",56,Wyoming,21,Laramie,41.136846,-104.81824
4,1/25/2016,AQS,560210001,1,2,ug/m3 SC,2,Cheyenne SLAMS site,1,100,81102,PM10 Total 0-10um STP,16940,"Cheyenne, WY",56,Wyoming,21,Laramie,41.136846,-104.81824

### Adds Pollutant Columns and select columns

In [8]:
#adding Substance column into Cheyenne_CO_2016 dataframe
CH_df_2016_CO['POLLUTANT'] = 'CO'
CH_df_2016_NO['POLLUTANT'] = 'NO'
CH_df_2016_O['POLLUTANT'] = 'O'
CH_df_2016_PM['POLLUTANT'] = 'PM' 
CH_df_2016_SO['POLLUTANT'] = 'SO'

In [4]:
# print Cheyenne columns
CH_df_2016_PM=CH_df_2016_PM[['Date','Site ID','Site Name','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE','COUNTY', 'STATE_CODE','STATE','POLLUTANT']]
CH_df_2016_CO=CH_df_2016_CO[['Date','Site ID','Site Name','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE','COUNTY', 'STATE_CODE','STATE','POLLUTANT']]
CH_df_2016_NO=CH_df_2016_NO[['Date','Site ID','Site Name','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE','COUNTY', 'STATE_CODE','STATE','POLLUTANT']]
CH_df_2016_O=CH_df_2016_O[['Date','Site ID','Site Name','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE','COUNTY', 'STATE_CODE','STATE','POLLUTANT']]
CH_df_2016_SO=CH_df_2016_SO[['Date','Site ID','Site Name','DAILY_AQI_VALUE', 'SITE_LATITUDE','SITE_LONGITUDE','COUNTY', 'STATE_CODE','STATE','POLLUTANT']]
CH_df_2016_PM.columns

Index(['Date', 'Site ID', 'Site Name', 'DAILY_AQI_VALUE', 'SITE_LATITUDE',
       'SITE_LONGITUDE', 'COUNTY', 'STATE_CODE', 'STATE', 'PM'],
      dtype='object')

### Concatenate all dataframes

In [7]:
frames = [CH_df_2016_CO, CH_df_2016_NO, CH_df_2016_O,CH_df_2016_PM, CH_df_2016_SO]
Cheyenne_2016_All = pd.concat(frames)
Cheyenne_2016_All

,Date,Site ID,Site Name,DAILY_AQI_VALUE,SITE_LATITUDE,SITE_LONGITUDE,COUNTY,STATE_CODE,STATE,CO,NO,O,PM,SO
0,1/2/2016,560210100,Cheyenne NCore,1,41.182227,-104.778334,Laramie,56,Wyoming,CO,NaN,NaN,NaN,NaN
1,1/3/2016,560210100,Cheyenne NCore,2,41.182227,-104.778334,Laramie,56,Wyoming,CO,NaN,NaN,NaN,NaN
2,1/4/2016,560210100,Cheyenne NCore,2,41.182227,-104.778334,Laramie,56,Wyoming,CO,NaN,NaN,NaN,NaN
3,1/5/2016,560210100,Cheyenne NCore,2,41.182227,-104.778334,Laramie,56,Wyoming,CO,NaN,NaN,NaN,NaN
4,1/6/2016,560210100,Cheyenne NCore,2,41.182227,-104.778334,Laramie,56,Wyoming,CO,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,12/27/2016,560210100,Cheyenne NCore,1,41.182227,-104.778334,Laramie,56,Wyoming,NaN,NaN,NaN,NaN,SO
565,12/28/2016,560210100,Cheyenne NCore,0,41.182227,-104.778334,Laramie,56,Wyoming,NaN,NaN,NaN,NaN,SO
566,12/29/2016,560210100,Cheyenne NCore,0,41.182227,-104.778334,Laramie,56,Wyoming,NaN,NaN,NaN,NaN,SO
567,12/30/2016,560210100,Cheyenne NCore,0,41.182227,-104.778334,Laramie,56,Wyoming,NaN,NaN,NaN,NaN,SO
568,12/31/2016,560210100,Cheyenne NCore,0,41.182227,-104.778334,Laramie,56,Wyoming,NaN,NaN,NaN,NaN,SO