In [1]:
# Import dependencies
import pandas as pd

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("mauna-loa-atmospheric-co2-2.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

   year  month  day  weight  flag station    co2
0  1958      3   29       4     0     MLO  316.1
1  1958      4    5       6     0     MLO  317.3
2  1958      4   12       4     0     MLO  317.6
3  1958      4   19       6     0     MLO  317.5
4  1958      4   26       2     0     MLO  316.4